AddDefaultCharset utf-8
DirectoryIndex index.php
ErrorDocument 403 /tpl/403.html
Options -Indexes

RewriteEngine on

# Если на сервере не найден запрашиваемый файл
RewriteCond %{REQUEST_FILENAME} !-f
# Если на сервере не найдена запрашиваемая дирректория
RewriteCond %{REQUEST_FILENAME} !-d
# переадресуем на скрипт index.php
RewriteRule ^([a-z0-9-/]+)$ index.php?url=$1 [QSA,L]
