body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 18px;
    background-color: #22323c;
}
#container {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.cheked {
    padding: 10px;
    background-color: green;
    color: white;
}

#zadacha {
    font-size: 34px;
    height: 40px;
    background-color: ghostwhite;
    padding: 10px;
}

#zadacha span {
    font-size: 12px;
    color: gray;
}

.button {
    background-color: royalblue;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.button span {
    border-bottom: 1px dashed #fff; /* Добавляем свою линию */
}

.ostalos {
    padding: 10px;
    font-size: 14px;
    background-color: gray;
    color: white;
}